<template>
    <div class="home">
        <topNav></topNav>
        <swiper></swiper>
        <iconList></iconList>
        <musicList></musicList>
    </div>
</template>

<script>
// @ is an alias to /src
import topNav from "@/components/topNav.vue";
import swiper from "@/components/swiper.vue";
import iconList from "@/components/iconList.vue"
import musicList from "@/components/musicList.vue"

export default {
    name: "Home",
    components: { topNav, swiper, iconList, musicList },
    data() {
        return {};
    }
};
</script>

<style lang="less" scope>

</style>
