<template>
    <div class="listView">
        <listViewTop :playlist="state.playList"></listViewTop>
        <playList :playlist="state.playList"></playList>
    </div>
</template>

<script>
import listViewTop from '@/components/listViewTop.vue'
import playList from '@/components/playList.vue'
import { getPlayListDetail } from "@/api/index.js";
import { reactive,onMounted } from 'vue'
import { useRoute } from 'vue-router'
import store from '@/store/index.js'

export default{
    setup() {
        const state = reactive({
            list:[],
            playList:{}
        })
        const route = useRoute()
        const id = route.query.id
        onMounted(async ()=>{
            let res = await getPlayListDetail(id)
            state.list = res
            state.playList = res.data.playlist
            store.commit('setPlayList', state.playList.tracks)
        })
        // console.log(state);
        return {
            state,
        }
    },
    components:{
        listViewTop,
        playList,
    }
}

</script>
