<template>
    <div id="searchPage">
        <SearchTop></SearchTop>
    </div>
</template>

<script>
import SearchTop from '@/components/searchTop.vue'

export default {
    components:{
        SearchTop
    }
}
</script>
