<template>
    <div class="iconList">
        <div class="iconItem" v-for="(item, i) in iconList" :key="i">
            <div class="icon-body">
                <img :src="item.iconUrl" class="icon" />
            </div>
            <span>{{ item.name }}</span>
        </div>
    </div>
</template>

<script>
import "swiper/css/swiper.css";
import { getIndexIcon } from "@/api/index.js";

export default {
    data() {
        return {
            iconList: [],
        };
    },
    setup() {},
    async mounted() {
        let icon = await getIndexIcon();
        this.iconList = icon.data.data;
    },
};
</script>

<style lang="less" scope>
.iconList {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    width: 100%;
    overflow-x: auto;
    .iconItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0.46rem;
        .icon-body {
            width: 0.9rem;
            height: 0.9rem;
            background: #d43c33;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.1rem;
            .icon {
                width: 0.9rem;
                height: 0.9rem;
            }
        }
        span {
            font-size: 0.22rem;
            white-space: nowrap;
        }
    }
}
</style>
