<template>
    <div class="listViewTop">
        <img class="bg" :src="playlist.coverImgUrl" alt="" />
        <div class="listViewTopNav">
            <div class="back" @click="$router.go(-1)">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-left"></use>
                </svg>
                <div class="title">歌单</div>
            </div>
            <div class="right">
                <svg class="icon inco-search" aria-hidden="true">
                    <use xlink:href="#icon-sousuo"></use>
                </svg>
                <svg class="icon icon-transform" aria-hidden="true">
                    <use xlink:href="#icon-shenglvehao"></use>
                </svg>
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                <img :src="playlist.coverImgUrl" />
                <div class="count">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bofangsanjiaoxing"></use>
                    </svg>
                    <span>{{ changeValue(playlist.playCount) }}</span>
                </div>
            </div>
            <div class="content-right">
                <h3>{{ playlist.name }}</h3>
                <div class="author">
                    <img :src="playlist?.creator?.avatarUrl" class="header" />
                    <span>{{ playlist?.creator?.nickname }}</span>
                </div>
                <div class="description">
                    {{ playlist.description }}
                </div>
            </div>
        </div>
        <div class="icon-list">
            <div class="icon-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-liaotian"></use>
                </svg>
                <span>{{ playlist.commentCount }}</span>
            </div>
            <div class="icon-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-share_icon"></use>
                </svg>
                <span>{{ playlist.shareCount }}</span>
            </div>
            <div class="icon-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xiazai"></use>
                </svg>
                <span>下载</span>
            </div>
            <div class="icon-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xuanze"></use>
                </svg>
                <span>多选</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["playlist"],
    setup() {
        const changeValue = (num) => {
            let res = 0;
            if (num >= 100000000) {
                res = num / 100000000;
                res = res.toFixed(2) + "亿";
            } else if (num >= 10000) {
                res = num / 10000;
                res = res.toFixed(2) + "万";
            }
            return res;
        };
        return { changeValue };
    },
};
</script>

<style lang="less" scope>
.listViewTop {
    width: 7.5rem;
    padding: 0 0.4rem;
    // height: 6rem;
    .bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 7.5rem;
        height: auto;
        z-index: -1;
        filter: blur(40px);
    }
    .listViewTopNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.2rem;
        font-size: 0.35rem;
        .icon {
            width: 0.5rem;
            height: 0.5rem;
            fill: #fff;
        }
        .title {
            margin-left: 0.4rem;
        }
        .inco-search {
            margin-right: 0.2rem;
        }
        .back,
        .right {
            display: flex;
            color: #fff;
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0;
        .content-left {
            position: relative;
            img {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 0.1rem;
            }
            .count {
                position: absolute;
                right: 0.1rem;
                top: 0.1rem;
                font-size: 0.24rem;
                color: #ccc;
                display: flex;
                align-items: center;
                font-weight: 400;
                .icon {
                    fill: #ccc;
                }
            }
        }
        .content-right {
            width: 3.5rem;
            h3 {
                color: #fff;
            }
            .author {
                display: flex;
                align-items: center;
                margin: 0.2rem 0;
                img.header {
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 0.3rem;
                    margin-right: 0.2rem;
                }
                span {
                    color: #ccc;
                    font-size: 0.26rem;
                }
            }
            .description {
                font-size: 0.24rem;
                color: #aaa;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2; /*要显示的行数*/
                -webkit-box-orient: vertical;
            }
        }
    }
    .icon-list{
        display: flex;
        justify-content: space-around;
        .icon-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon{
                width: 0.4rem;
                height: 0.4rem;
                fill:#fff;
            }
            span{
                font-size: 0.24rem;
                padding-top: 0.1rem;
                color: #fff;
            }
        }
    }
}
.icon-transform {
    transform: rotate(90deg);
}
</style>
