<template>
    <div class="play-controller">
        <div class="left" @click="show = !show">
            <img :src="playlist[playCurrentIndex].al.picUrl" alt="" />
            <div class="content">
                <div class="title">{{ playlist[playCurrentIndex].al.name }}</div>
                <div class="tips">横滑可以切换上下首歌</div>
            </div>
        </div>
        <div class="right">
            <svg class="icon" aria-hidden="true" @click="play">
                <use v-show="pause" xlink:href="#icon-bofangsanjiaoxing"></use>
                <use v-show="!pause" xlink:href="#icon-zantingtingzhi"></use>
            </svg>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-liebiao"></use>
            </svg>
        </div>
        <playMusic :play="play" :pause="pause" @back="show = !show" v-show="show" :playDetail="playlist[playCurrentIndex]"></playMusic>
        <audio ref="audio" :src="`https://music.163.com/song/media/outer/url?id=${playlist[playCurrentIndex].id}.mp3`"></audio>
    </div>
</template>

<script>
import { mapState } from "vuex";
import playMusic from "@/components/playMusic";

export default {
    data() {
        return {
            pause: false,
            show: false
        };
    },
    components: {
        playMusic
    },
    computed: {
        ...mapState(["playlist", "playCurrentIndex"])
    },
    mounted() {
        // this.$refs 类似document去操作dom节点
        console.log(this.$refs.audio);
        this.$store.dispatch("reqLyric", { id: this.playlist[this.playCurrentIndex].id });
        this.UpdateTime()
    },
    updated() {
        console.log(this.playlist[this.playCurrentIndex].id);
        this.$store.dispatch("reqLyric", { id: this.playlist[this.playCurrentIndex].id });
        this.UpdateTime()
    },
    methods: {
        play() {
            if(this.$refs.audio.paused){
                this.$refs.audio.play()
                this.pause = false
                this.UpdateTime()
            }else{
                this.$refs.audio.pause()
                this.pause = true
                clearInterval(this.$store.state.id)
            }
            // this.$refs.audio.paused ? this.$refs.audio.play() : this.$refs.audio.pause();
        },
        UpdateTime(){
            this.$store.state.id = setInterval(() => {
                this.$store.commit('setCurrentTime',this.$refs?.audio?.currentTime)
            }, 1000);
        }
    }
};
</script>

<style lang="less" scoped>
.play-controller {
    width: 7.5rem;
    height: 1.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    background: #fff;
    .left {
        display: flex;
        padding: 0 0.2rem;
        img {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 0.4rem;
        }
        .content {
            padding: 0 0.2rem;
            .tips {
                font-size: 0.2rem;
                color: #999;
            }
        }
    }
    .right {
        .icon {
            margin: 0 0.1rem;
            height: 0.4rem;
            width: 0.4rem;
        }
    }
}
</style>
