<template>
    <div class="playMusic">
        <div class="bg" :style="{ backgroundImage: `url(${playDetail.al.picUrl})` }"></div>
        <div class="play-top">
            <div class="back" @click="$emit('back')">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-left"></use>
                </svg>
            </div>
            <div class="center">
                <div class="title">
                    <marquee behavior="scroll" direction="left">{{ playDetail.al.name }}</marquee>
                </div>
            </div>
            <div class="share">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-share_icon"></use>
                </svg>
            </div>
        </div>
        <div class="play-content" v-show="!isLyric">
            <img src="@/assets/img/dt.png" class="needle" :class="{ active: pause }" />
            <img src="@/assets/img/cb.png" class="desc" />
            <img :src="playDetail.al.picUrl" class="play-img" />
        </div>
        <div class="playLyric" v-show="isLyric" ref="playLyric">
            <p :class="{ active: (currentTime * 1000 >= item.min && currentTime * 1000 < item?.time) }" v-for="(item, i) in $store.getters.lyricList" :key="i">{{ item.lyric }}</p>

            <!-- <p :class="{ active: (currentTime * 1000 >= item.pre && currentTime * 1000 < item?.time) }" v-for="(item, i) in $store.getters.lyricList" :key="i">{{ item.lyric }}</p> -->

            <!-- <p :class="{active:( currentTime*1000 >= item.pre ) && (currentTime*1000 < item?.time )}" v-for="(item,i) in $store.getters.lyricList" :key="i">
                <span v-if="lyric[i-1]">
                    {{lyric[i-1]}}
                </span>
            </p> -->
        </div>
        <div class="progress"></div>
        <div class="playFooter">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xunhuan"></use>
            </svg>
            <svg class="icon" aria-hidden="true" @click="goPlay(-1)">
                <use xlink:href="#icon-shangyishoushangyige" ></use>
            </svg>
            <svg v-show="pause" @click="play" class="icon play" aria-hidden="true">
                <use xlink:href="#icon-bofang1-copy"></use>
            </svg>
            <svg v-show="!pause" @click="play" class="icon play" aria-hidden="true">
                <use xlink:href="#icon-ico_zanting_xuanzhong"></use>
            </svg>
            <svg class="icon" aria-hidden="true" @click="goPlay(1)">
                <use xlink:href="#icon-xiayigexiayishou"></use>
            </svg>
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-liebiao"></use>
            </svg>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    props: ["playDetail","pause","play"],
    data() {
        return {
            isLyric:true,
            newLyricList:'',
        }
    },
    computed:{
        ...mapState(['lyric','currentTime','playlist', 'playCurrentIndex']), // 需要哪个state就解构哪个state
        newLyric:function(){
            let newLyric = this.$store.getters.lyricList
            return newLyric
        }
    },
    watch:{
        currentTime:function(){
            let p = document.querySelector('p.active')
            // let offsetTop = p.offsetTop
            this.$refs.playLyric.scrollTop = p.offsetTop
            console.log(this.newLyric);
        }
    },
    methods: {
        goPlay(num){
            console.log(this.playlist);
            let index = this.playCurrentIndex+num
            if(index<0){
                index = this.playlist.length -1
            }else if(index == this.playlist.length){
                index = 0
            }
            this.$store.commit('setPlayIndex',index)
        }
    },
};
</script>

<style lang="less" scoped>
.playMusic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    .bg {
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: auto 100%;
        background-position: center;
        filter: blur(60px);
    }
    .play-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7.5rem;
        height: 1.2rem;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        padding: 0 0.4rem;
        .icon {
            fill: #fff;
            width: 0.4rem;
            height: 0.4rem;
        }
        marquee {
            width: 5rem;
        }
    }
    .play-content {
        position: absolute;
        width: 7.5rem;
        height: 7.5rem;
        left: 0;
        top: 1.5rem;
        .needle {
            width: 1.6rem;
            height: auto;
            position: absolute;
            left: 3.5rem;
            transform-origin: 0.3rem 0;
            transform: rotate(-20deg);
            transition: all 1s;
            z-index: 11;
        }
        .needle.active {
            // width: 2rem;
            // height: auto;
            // position: absolute;
            // left: 3.5rem;
            transform-origin: 0.3rem 0;
            transform: rotate(0deg);
            transition: all 1s;
            z-index: 11;
        }
        .desc {
            width: 5.2rem;
            height: auto;
            position: absolute;
            left: 17%;
            top: 1.6rem;
        }
        .play-img {
            width: 3.4rem;
            height: 3.4rem;
            border-radius: 3.4rem;
            position: absolute;
            // left: calc(50%-2.75rem);
            left: 29%;
            top: 2.5rem;
        }
    }
    .playFooter {
        width: 7.5rem;
        height: 1.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.4rem;
        .icon {
            fill: #fff;
            width: 0.5rem;
            height: 0.5rem;
        }
        .play {
            width: 1rem;
            height: 1rem;
        }
    }
    .playLyric {
        position: absolute;
        width: 7.5rem;
        height: 8rem;
        left: 0;
        top: 1.8rem;
        overflow: scroll;
        text-align: center;
        color: rgba(207, 207, 207, 0.596);
    }
    .active {
        color: rgb(255, 255, 255);
    }
}
</style>
