<template>
    <div class="playlist">
        <div class="playlist-top">
            <div class="left">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bofang1"></use>
                </svg>
                <div class="text">
                    <div class="title">播放全部</div>
                    <div class="num">(共{{ playlist?.tracks?.length }}首)</div>
                </div>
            </div>
            <div class="btn">+ 收藏 ({{ changeValue(playlist.subscribedCount) }})</div>
        </div>
        <div class="list">
            <div class="play-item" v-for="(item, i) in playlist.tracks" :key="i">
                <div class="left">
                    <div class="index">{{ i + 1 }}</div>
                    <div class="content">
                        <div class="title">{{ item.name }}</div>
                        <div class="author">
                            <span class="tag" v-for="(tag, i) in playlist.tags" :key="i">{{ tag }}</span>
                            <span class="name">{{ item.al.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <svg class="icon" aria-hidden="true" @click="setPlayIndex(i)">
                        <use xlink:href="#icon-bofang1"></use>
                    </svg>
                    <svg class="icon icon-transform" aria-hidden="true">
                        <use xlink:href="#icon-shenglvehao"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
    props: ["playlist"],
    setup() {
        const changeValue = (num) => {
            let res = 0;
            if (num >= 100000000) {
                res = num / 100000000;
                res = res.toFixed(2) + "亿";
            } else if (num >= 10000) {
                res = num / 10000;
                res = res.toFixed(2) + "万";
            }
            return res;
        };
        return { changeValue };
    },
    methods: {
        ...mapMutations(['setPlayIndex'])  // 在methods中解构setPlayIndex方法出来 提供给点击事件直接使用
    },
};
</script>

<style lang="less" scope>
.playlist {
    width: 7.5rem;
    padding: 0 0.3rem;
    background: #fff;
    margin-top: 0.2rem;
    padding-top: 0.1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    .playlist-top {
        display: flex;
        justify-content: space-between;
        height: 0.8rem;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            .icon {
                width: 0.4rem;
                height: 0.4rem;
            }
            .title {
                font-size: 0.3rem;
                font-weight: 900;
            }
            .num {
                font-size: 0.2rem;
                color: #666;
            }
            .text {
                display: flex;
                align-items: center;
                margin-left: 0.14rem;
            }
        }
        .btn {
            font-size: 0.24rem;
            color: #fff;
            background: rgb(250, 81, 65);
            line-height: 0.6rem;
            padding: 0.06rem 0.2rem;
            border-radius: 0.4rem;
        }
    }
    .list {
        .play-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1rem;
            .left {
                display: flex;
                align-items: center;
                color: #666;
                .index {
                    width: 0.3rem;
                    font-size: 0.34rem;
                }
                .content {
                    margin-left: 0.4rem;
                }
                .title {
                    font-size: 0.3rem;
                    font-weight: 600;
                    color: rgba(61, 61, 61, 0.9);
                    // margin-bottom: 0.04rem;
                    width: 4.4rem;
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .tag {
                    font-size: 0.04rem;
                    padding: 0 0.04rem 0.01rem 0.04rem;
                    margin-right: 0.01rem;
                    color: rgb(250, 81, 65);
                    border: 1px solid rgb(250, 81, 65);
                    border-radius: 0.08rem;
                    display: inline-block;
                    transform: scale(0.82);
                }
                .author {
                    color: #666;
                    display: flex;
                    align-items: center;
                    .name {
                        font-size: 0.1rem;
                        width: 3rem;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .right {
                .icon {
                    width: 0.42rem;
                    height: 0.42rem;
                    margin: 0 0.1rem;
                }
            }
        }
    }
}
</style>
