<template>
    <div class="search-top">
        <div class="search-top-nav">
            <div class="back" @click="$router.go(-1)">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-arrow-left"></use>
                </svg>
                <!-- <div class="title">歌单</div> -->
            </div>
            <div class="right">
                <input type="text" v-model="searchKeyword" :placeholder="placeholder" @keydown.enter="saveKeyWord" />
                <!-- <svg class="icon inco-search" aria-hidden="true">
                    <use xlink:href="#icon-sousuo"></use>
                </svg>
                <svg class="icon icon-transform" aria-hidden="true">
                    <use xlink:href="#icon-shenglvehao"></use>
                </svg> -->
            </div>
        </div>
        <div class="history"  v-show="searchSongs?.length==0">
            <div class="history-left">历史</div>
            <div class="history-right">
                <div @click="historySearch(item)" class="keyword-item" v-for="(item, i) in keywordList" :key="i">{{ item }}</div>
            </div>
        </div>

        <!-- 复制的歌单列表 -->
        <div class="playlist" v-show="searchSongs?.length!=0">
            <div class="playlist-top">
                <div class="left">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bofang1"></use>
                    </svg>
                    <div class="text">
                        <div class="title">播放全部</div>
                        <div class="num">(共{{ playlist?.length }}首)</div>
                    </div>
                </div>

            </div>
            <div class="list">
                <div class="play-item" v-for="(item, i) in searchSongs" :key="i">
                    <div class="left">
                        <div class="index">{{ i + 1 }}</div>
                        <div class="content">
                            <div class="title">{{ item.name }}</div>
                            <div class="author">
                                <span class="tag" v-for="(tag, i) in searchSongs.tags" :key="i">{{ tag }}</span>
                                <span class="name">{{ item.album.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <svg class="icon" aria-hidden="true" @click="setPlay(item,i)">
                            <use xlink:href="#icon-bofang1"></use>
                        </svg>
                        <svg class="icon icon-transform" aria-hidden="true">
                            <use xlink:href="#icon-shenglvehao"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import { mapState } from "vuex";
import { searchMusic } from "@/api/index.js";

export default {
    data() {
        return {
            placeholder: "陈奕迅",
            keywordList: [],
            searchKeyword: "",
            searchSongs: []
        };
    },
    beforeMount() {
        this.keywordList = localStorage.keywordList ? JSON.parse(localStorage.keywordList) : "";
    },
    computed: {
        ...mapState(["playlist", "playCurrentIndex"])
    },
    methods: {
        saveKeyWord: async function () {
            this.keywordList.push(this.searchKeyword);
            this.keywordList = Array.from(new Set(this.keywordList)) // 去除重复的
            if(this.keywordList.length > 10){
                this.keywordList = this.keywordList.slice(this.keywordList.length-10,this.keywordList.length)
            }
            localStorage.keywordList = JSON.stringify(this.keywordList);
            let result = await searchMusic(this.searchKeyword);
            this.searchSongs = result.data.result.songs
        },
        historySearch(keyword){
            this.searchKeyword = keyword
            this.saveKeyWord()
        },
        setPlay(item){
            console.log(item.album,this.playlist.length-1);
            // img1v1Url
            item.al = item.album
            item.al.picUrl = item.album.artist.img1v1Url
            this.$store.commit('pushPlayList',item)
            this.$store.commit('setPlayIndex',this.playlist.length-1)

        }
    }
};
</script>

<style lang="less" scope>
.search-top {
    width: 7.5rem;
    height: calc(100vh-1.2rem);
    padding: 0 0.4rem;
    .search-top-nav {
        display: flex;
        width: 100%;
        height: 1.2rem;
        padding: 0 0.4rem;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        .icon {
            width: 0.5rem;
            height: 0.5rem;
        }
        .right {
            padding: 0 0 0 0.3rem;
            flex: 1;
            input {
                border: none;
                outline: none;
                border-bottom: 1px solid #666;
                width: 100%;
                height: 0.5rem;
            }
        }
    }
    .history {
        display: flex;
        // align-items: center;
        margin-top: 1.2rem;
        .history-left {
            width: 1.2rem;
            height: 0.8rem;
            font-weight: 900;
            margin: 0.2rem 0rem;
            line-height: 0.6rem;
        }
        .history-right {
            color: #666;
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            .keyword-item {
                background: #eee;
                height: 0.6rem;
                padding: 0 0.2rem;
                border-radius: 0.4rem;
                line-height: 0.6rem;
                margin: 0.2rem 0.1rem;
            }
        }
    }
}
.playlist {
    width: 7.5rem;
    // padding: 0 0.3rem;
    background: #fff;
    // margin-top: 0.2rem;
    padding-top: 0.1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    position: fixed;
    top: 1.2rem;
    bottom: 1.2rem;
    overflow: scroll;
    .playlist-top {
        display: flex;
        justify-content: space-between;
        height: 0.8rem;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            .icon {
                width: 0.4rem;
                height: 0.4rem;
            }
            .title {
                font-size: 0.3rem;
                font-weight: 900;
            }
            .num {
                font-size: 0.2rem;
                color: #666;
            }
            .text {
                display: flex;
                align-items: center;
                margin-left: 0.14rem;
            }
        }
        .btn {
            font-size: 0.24rem;
            color: #fff;
            background: rgb(250, 81, 65);
            line-height: 0.6rem;
            padding: 0.06rem 0.2rem;
            border-radius: 0.4rem;
        }
    }
    .list {
        .play-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1rem;
            .left {
                display: flex;
                align-items: center;
                color: #666;
                .index {
                    width: 0.3rem;
                    font-size: 0.34rem;
                }
                .content {
                    margin-left: 0.4rem;
                }
                .title {
                    font-size: 0.3rem;
                    font-weight: 600;
                    color: rgba(61, 61, 61, 0.9);
                    // margin-bottom: 0.04rem;
                    width: 4.4rem;
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .tag {
                    font-size: 0.04rem;
                    padding: 0 0.04rem 0.01rem 0.04rem;
                    margin-right: 0.01rem;
                    color: rgb(250, 81, 65);
                    border: 1px solid rgb(250, 81, 65);
                    border-radius: 0.08rem;
                    display: inline-block;
                    transform: scale(0.82);
                }
                .author {
                    color: #666;
                    display: flex;
                    align-items: center;
                    .name {
                        font-size: 0.1rem;
                        width: 3rem;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .right {
                .icon {
                    width: 0.42rem;
                    height: 0.42rem;
                    margin: 0 0.1rem;
                }
            }
        }
    }
}
</style>
