<template>
    <div id="swiper-com">
        <div class="swiper-container" id="swiper-index">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(item, i) in imgs" :key="i"><img :src="item.pic" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</template>

<script>
import "swiper/css/swiper.css";
import Swiper from "swiper";
import { getBanner } from "@/api/index.js";

export default {
    data() {
        return {
            imgs: [{ pic: require("../assets/img/1.jpg") }, { pic: require("../assets/img/2.jpg") }, { pic: require("../assets/img/3.jpg") }],
            iconList: [],
        };
    },
    setup() {},
    async mounted() {
        new Swiper("#swiper-index", {
            loop: true, // 循环模式选项
            // 如果需要分页器
            pagination: {
                el: ".swiper-pagination",
            },
        });

        let res = await getBanner(1);
        this.imgs = res.data.banners;
    },
};
</script>
<style lang="less">
#swiper-com{
    width: 7.5rem;
    #swiper-index.swiper-container {
        width: 7.1rem;
        height: 2.6rem;
        border-radius: 0.1rem;
        .swiper-slide img {
            width: 100%;
        }
        .swiper-pagination-bullet-active {
            background: orangered;
        }
    }
}
</style>
