<template>
    <div class="topNav">
        <div class="topLeft">
            <span class="iconfont icon-liebiao"></span>
        </div>
        <div class="topCenter">
            <span class="navBtn" @click="$router.push('/me')">我的</span>
            <span class="navBtn active">发现</span>
            <span class="navBtn">云村</span>
            <span class="navBtn">视频</span>
        </div>
        <div class="topRight">
            <span class="iconfont icon-sousuo" @click="$router.push('/Search')"></span>
        </div>
    </div>
</template>
<style lang="less">
.topNav{
    width: 7.5rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
    .icon{
        width: 0.5rem;
        height: 0.5rem;
    }
    .topCenter{
        width: 4.5rem;
        display: flex;
        justify-content: space-between;
        .active{
            font-weight: 900;
        }
    }
}
</style>
